<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright  Copyright (c)  2023.  Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="advanced_checkout_tab" translate="label" sortOrder="100">
            <label>Advanced Checkout Tab</label>
        </tab>
        <section id="advanced_checkout_section" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Advanced Checkout Section</label>
            <tab>advanced_checkout_tab</tab>
            <resource>Tigren_AdvancedCheckout::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable/Disable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable advanced_checkout module</comment>
                </field>
            </group>
        </section>

        <section id="delivery_configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Delivery Configuration</label>
            <tab>advanced_checkout_tab</tab>
            <resource>Tigren_AdvancedCheckout::config_delivery</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="delivery_day_off" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Day off</label>
                    <source_model>Tigren\AdvancedCheckout\Model\Config\Source\DaysOfWeek</source_model>
                </field>
                <field id="delivery_date_off" translate="label" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Date off</label>
                    <comment>These dates will be excluded from shipping date calculation</comment>
                    <backend_model>Tigren\AdvancedCheckout\Model\Config\Backend\DatePickerList</backend_model>
                    <frontend_model>Tigren\AdvancedCheckout\Block\Adminhtml\Form\Field\DatePickerList</frontend_model>
                </field>
                <field id="delivery_time_frame" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery time frame</label>
                    <backend_model>Tigren\AdvancedCheckout\Model\Config\Backend\TimePickerList</backend_model>
                    <frontend_model>Tigren\AdvancedCheckout\Block\Adminhtml\Form\Field\TimePickerList</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
